@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.perspective-\[800px\] {
  perspective: 800px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
